body {
    font-size: 10px;
    padding: 4px;
    width: 84em;
}

.title {
    font-weight: bold;
    font-size: 110%;
    padding: 8px;
}

.entry {
    border: 1px solid black;
    margin: 2px;
}

.info {
    background-color: #FF8888;
}

.server {
    background-color: #88FF88;
}

.client {
    background-color: #8888FF;
}
